$ruler: 16px;
$color-red: #ae1100;
$color-bg: #ebecf0;
$color-shadow: #babecc;
$color-white: #fff;
$body-bg: linear-gradient(180deg, #1c0138 0%, #2c0055 100%);
$border: linear-gradient(180deg, #ffdc2a 0%, #fb2182 41.54%);