@import "../../variables";

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $color-shadow;
  text-shadow: 1px 1px 1px $color-white;
  text-align: center;
}

.nav-text {
  margin-right: 50px;
  font-weight: bold;
  color: rgb(240, 150, 165);
}

#nav-name {
  margin-left: 10px;
  margin-right: auto;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  color: rgb(240, 150, 165);
}
