@import "../../variables";

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $color-shadow;
    text-shadow: 1px 1px 1px $color-white;
    text-align: center;
}

.nav-text {
    margin-right: 50px;
}

#nav-name {
    margin-right: auto;
}

